html {
    box-sizing: border-box;
}

* ::after,
::before {
    box-sizing: inherit;
}

.box {
    background-color: rgb(237, 237, 238);
    font-family: "Mukta", sans-serif;
}

.box__main {
    max-width: 800px;
    padding: 20px;
    margin: 0 auto;
}

.box__main--header {
    margin: 0 0 10px 0;
}