html {
    box-sizing: border-box;
}

* ::after,
::before {
    box-sizing: inherit;
}

.section {
    background-color: white;
    margin: 0 0 10px 0;
    box-shadow: 2px 2px 1px rgb(218, 221, 224);
}

.section__header {
    padding: 20px 20px;
    border-bottom: 1px solid rgb(218, 221, 224);
    margin: 0;
}