html {
    box-sizing: border-box;
}

* ::after,
::before {
    box-sizing: inherit;
}

.task__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.tasks {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 20px;
    margin: 0;
    list-style: none;
}

.tasks__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-content: space-between;
    padding: 10px;
    word-break: break-word;
    border-bottom: 1px solid rgb(218, 221, 224);
}

.tasks__item--done {
    text-decoration: line-through;
}